@import './_partial.scss';

@mixin Border($color) {
    border: 3px solid $color;
}

#app {
    /*
    background: rgb(0,5,36);
    background: linear-gradient(90deg, rgba(0,5,36,1) 0%, rgba(0,127,255,1) 65%);
    */

    background-color: black;

    hr {
        border: none;
        height: 2px;
        /* Set the hr color */
        color: #333; /* old IE */
        background-color: rgb(235, 220, 220); /* Modern browsers */
        
    }

    div.row {
        .switch {
            padding: 10px;
            display: block;
            text-align: center;
            border: 1px solid white;
            border-radius: 20px;

            & > * {
                margin: auto;
            }

            strong {
                color: white;
                padding: 0px;
                margin: auto;
            }

            input {
                display: none;
                
                &:checked + .theme {
                    background-color: black;
                }

                &:checked + .theme::before {
                    left: 64px;
                }                
            }

            .theme {
                width: 100px;
                height: 40px;
                border: 1px solid white;
                position: relative;
                background-color: black;
                display: block;
                cursor: pointer;
                transition: background-color 0.4s;
                border-radius: 20px;

                &::before {
                    content: '';
                    position: absolute;
                    width: 32px;
                    height: 32px;
                    left: 4px;
                    bottom: 4px;
                    background: white;
                    border-radius: 50%;
                }
            }
        }

        #list-title {
            @include Border(red);
            color: white;
        }

        .list {
            width: 100%;
            .toggle {
                position: relative;

                button {
                    z-index: 2;
                }

                hr {
                    position: absolute;
                    top: 10%;
                    display: block;
                    width: 100%;
                    z-index: 1;
                }
            }

            ul {
                li {
                    @include Border(white);
                    padding: 0.2em;
                    border-radius: 10%;
                    color: white;

                    path:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

