@import './_partial.scss';

@mixin Border($color) {
    border: 3px solid $color;
}

#app {
    div.row {
        #list-title {
            @include Border(red);
        }

        #to-do-list {
            ul {
                li {
                    @include Border(black);
                    border-radius: 10%;
                    color: white;
                    background-color: black;
                }

            }
        }
    }
}

