@import './_partial.scss';

@mixin Border($color) {
    border: 3px solid $color;
}

#app {
    /*
    background: rgb(0,5,36);
    background: linear-gradient(90deg, rgba(0,5,36,1) 0%, rgba(0,127,255,1) 65%);
    */

    hr {
        border: none;
        height: 2px;
        /* Set the hr color */
        color: #333; /* old IE */
        background-color: rgb(235, 220, 220); /* Modern browsers */
        
    }

    div.row {
        #list-title {
            @include Border(red);
        }

        .list {
            width: 100%;
            .toggle {
                position: relative;

                button {
                    z-index: 2;
                }

                hr {
                    position: absolute;
                    top: 10%;
                    display: block;
                    width: 100%;
                    z-index: 1;
                }
            }

            ul {
                li {
                    @include Border(black);
                    border-radius: 10%;
                    color: white;
                    background-color: black;

                    path:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

